<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>First web</title>
</head>
<body>
    <div>
        <h1>Xin chao moi nguoi 😎</h1>
        <p>web dau tien cau tui tu build!</p>
    </div>
     <p>my info:</p>
    <ul>
        <li>
            <a href="https://www.facebook.com/visela111/?locale=vi_VN%5C" target="_blank"><img src="Facebook_Logo_(2019).png.png" alt="Click me"></a>
        </li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>




