<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>First web</title>
</head>
<body>
    <div class="title">
        <h1>Xin chao moi nguoi 😎</h1>
        <p>web dau tien cau tui tu build!</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="https://www.instagram.com/de_.glokk11/" target="_blank"><img src="{{ url_for('static', filename='img/ig.png') }}" alt="ảnh đẹp" width="50">
</a>
            </li>
        </ul>
    </div>
</body>
</html>












